.App {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(202, 153, 161) , rgb(164, 211, 211));
    color: white;
  }
  .newpage {
    display: flex;
    justify-content: center;
  }
  .addnew {
    display: flex;
    justify-content: end;
    text-decoration: none;
  }

  .links{
    display: flex;
    flex-direction: row;
    
  }
  span{
    margin-left: 10em;
  }
  .addBox{
    display: inline-block;
    align-items: center;
    margin-left: 4.5em;
  }
  .input{
  
      font-size: 30px;
      margin-left: 15px;
  }
  .button{
    margin-top: 30px;
    width: 50%;
    margin-left: 450px;
  }
  .task{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(42, 30, 90);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px;
    margin-left: 10px;
}